.rent_container {
    min-height: 77vh;
    padding: 10px;
    h1 {
        margin-top: 3%;
        text-transform: uppercase;
        padding: 20px;
        color: #333;
        font-weight: bold;
    }
}