.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 1em 0;
    background-color: #008f88;
    color: white;
    align-items: center;
    justify-content: center;
    .page_logo_box {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .text_box {
        grid-column-start: 2;
        grid-column-end: 3;
        font-weight: bold;
        p {
            margin: 0;
        }
    }
    .logo_box {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}


@media screen and (max-width: 576px) {

    .page_logo_box {
        grid-column-start: 1;
        grid-column-end: 2;
        img {
            width: 60%;
        }
    }

    .text_box {
        font-size: 13px;
    }

    .logo_box {
        grid-column-start: 3;
        grid-column-end: 4;
        img {
            width: 18%;
        }
    }

}

@media screen and (min-width: 577px) {

    .page_logo_box {
        grid-column-start: 1;
        grid-column-end: 2;
        img {
            width: 60%;
        }
    }

    .text_box {
        font-size: 16px;
    }

    .logo_box {
        grid-column-start: 3;
        grid-column-end: 4;
        img {
            width: 15%;
        }
    }

}

@media screen and (min-width: 993px) {

    .page_logo_box {
        grid-column-start: 1;
        grid-column-end: 2;
        img {
            width: 40%;
        }
    }

    .text_box {
        font-size: 20px;
    }

    .logo_box {
        grid-column-start: 3;
        grid-column-end: 4;
        img {
            width: 12%;
        }
    }

}